
@import "screen";
@import "rouge-base16-solarized";
@import url("non-screen.css") handheld;
@import url("non-screen.css") only screen and (max-device-width:640px);


img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
